<h2>New transaction</h2>

<form [formGroup]="dataForm">
    <mat-form-field>
        <mat-label>Item</mat-label>
        <mat-select formControlName="itemId">
            <mat-option value="03dec121-ac0e-4189-bd9e-68013cd175f9">Javelin</mat-option>
            <mat-option value="7c164a1e-84ab-44b9-9542-9c0a681172a7">NLAW</mat-option>
            <mat-option value="8f515945-5f20-4acb-95fc-b0aa2eb91497">Switchblade 300</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Amount</mat-label>
        <input matInput type="number" formControlName="amount">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Storage</mat-label>
        <mat-select formControlName="storageId" >
            <mat-option value="15ec584d-b6fb-4fd6-b064-76cc9e71f2e5">#15ec584d</mat-option>
            <mat-option value="a872e805-9c4e-4589-af4c-8ed0af421b4c">#a872e805</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Transaction Type</mat-label>
        <mat-select formControlName="type">
            <mat-option [value]="0">Income</mat-option>
            <mat-option [value]="1">Expense</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Notes</mat-label>
        <input matInput formControlName="notes">
    </mat-form-field>

    <button mat-raised-button color="primary" 
            (click)="create()"
            [disabled]="dataForm.invalid">Create</button>
</form>
